@media screen and (min-width: $desktop) {
  .menu-address {
    display: inline-block;
    margin-left: auto;

    &__content {
      display: flex;
    }
    &__link {
      color: $titleTextColor;

      display: flex;
      align-items: center;

      font-family: $Roboto;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      font-style: normal;

      transition: color 250ms $animationTimingFunction,
        fill 250ms $animationTimingFunction;
    }
    &__link:hover,
    &__link:focus {
      color: $linkPrimaryColor;
      fill: $linkPrimaryColor;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }

    &__icon {
      display: inline-flex;
      width: 17px;
      height: 17px;
      margin-right: 10px;
      align-items: baseline;

      fill: currentColor;
    }
  }
}
