@media screen and (min-width: $desktop) {
  .logo {
    color: $linkPrimaryColor;

    padding-top: 26px;
    padding-bottom: 26px;
    margin: 0;

    &__studio {
      color: #000000;
    }
  }

  .menu__logo {
    display: flex;
    align-items: center;
    align-self: baseline;

    font-family: $Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}
