header {
  position: fixed;
  width: 100%;
  top: 0;
  right: -50%;
  transform: translate(-50%);
  background-color: $linkSeconaryColor;
  z-index: 1;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1200px;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: $tablet) {
  .menu {
    width: $tablet;
  }
}

@media screen and (min-width: $desktop) {
  .menu {
    width: $desktop;
  }
}
