// Основные и функции

$primaryTextColor: #212121;
$titleTextColor: #757575;
$linkSeconaryColor: #ffffff;
$footerColor: rgba(255, 255, 255, 0.6);
$linkPrimaryColor: #2196f3;

// Анимация
$animationTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);

// Шрифты
$Raleway: Raleway;
$Roboto: Roboto;
