@media screen and (max-width: $mobile) {
  .clients {
    width: 450px;
    padding-bottom: 60px;

    &__title {
      font-family: $Roboto;
      font-weight: 700;
      font-size: 28px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-align: center;

      color: $primaryTextColor;
      margin: 0 auto 50px;
    }

    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
    }

    &__icon {
      fill: currentColor;
    }
  }

  .clients__item {
    display: inline-block;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:nth-last-child(n + 4) {
      margin-bottom: 30px;
    }
  }

  .clients__link {
    display: inline-flex;
    min-width: 170px;
    height: 90px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    align-items: center;
    justify-content: center;

    transition: transform 250ms $animationTimingFunction,
      border 250ms $animationTimingFunction,
      color 250ms $animationTimingFunction;

    &:hover,
    &:focus {
      border: 1px solid $linkPrimaryColor;
      color: $linkPrimaryColor;
      // transform: scale(1.3);
    }
  }
}
